@import 'variables';

.college-info {
    padding-right: 2.5rem
}

.college-title {
    font-weight: bold;
    padding: 0rem;
    margin: 0.25rem;
}

.college-text {
    display: inline-block;
    margin: 0.25rem;
    text-align: left;
    margin-left: 2rem
}