@import 'variables';

.icon-info {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: inherit;
    }
    
}