/* You can add global styles to this file, and also import other style files */
$background: #121212;
$surface: #1E1E1E;
$secondary-surface: #2A2A2A;
$primary-text: #E0E0E0;
$secondary-text: #B0B0B0;
$emphasis: #2ecc71;


