@import 'variables';

.skills-container {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
    margin: 1rem;

    .chip {
        margin: 0.25rem;
        align-items: center;
        justify-content: center;
    }
}

.skills-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

