@import 'variables';

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    font-size: 1.25rem;
    text-align: center;
    padding-right: 20rem;
}

.introduction-picture {
    img {
        width: 24rem;
        height: 24rem;
        border-radius: 50%;
        border: 0.25rem solid $emphasis;
        margin: 1rem;
        
    }
}