@import 'variables';

.section-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    span {
        height: 100%;
    }
}

.icon {
    padding-right: 8px;
}
